@charset "UTF-8";

/*
 * Status Link
 *
 * Contextual status page link for use in the footer of the
 * website, probably to be abstracted out at some point in the
 * future.
 *
 * Check the README for details of the DOM structure for the link.
 */

/* Base Link Styles. */
[data-status-link-for] {
	line-height: 1.4;
	text-decoration: none;
}

/* Current Status Label */
[data-status-link-for] small {
	display: block;
	opacity: 0.65;
}

/* State Icon. */
[data-status-link-for] i { margin-right: 0.5rem; }